<h2 class="text-dark mb-3"><%= @heading %></h2>
<div class="container-fd">
    <h5 class="text-dark mb-3">Мене звати Смерічка Максим Олексійович.</h5>
    <p>Це простий сайт з постами на різні новинні теми.</p>
    <p>Моя контактна інформація:</p>
    <ul class="list-group mb-3">
        <li class="list-group-item">Електронна пошта: smerichka.maksym@student.uzhnu.edu.ua</li>
        <li class="list-group-item">Номер телефону: +380952265272</li>
    </ul>
    <p>Дякую, що почитали новини на моєму сайті!</p>
</div>